// -----------------------------------------------------------------------------
// This file contains styles dealing with Grid and Flexbox as well as other
// display needs like block, inline-block, etc.
// -----------------------------------------------------------------------------

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}
